.logo {
  margin-left: 20px;
}
 
html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #222;
 
}

.book{
  background-color: aliceblue;
}

.call-to-action {
    margin-left:30px;
    background-color:  #035096;
    padding: 8px 20px  !important;
    border-radius: 3px;
    color: white !important;
}
 
.navbar-nav li {
  padding: 15px 15px 15px 0;
 
}
 
.bg-light {
  opacity: 1 !important;
}
 
.bg-light.scrolled {
  opacity: 0.7 !important;
}
 
.carousel-inner img {
  width: 100% !important;
  height: 110% !important;
}
 
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
 
.carousel-caption h1 {
  text-shadow: 1px 1px 15px #000;
  font-size: 350%;
}
 
.carousel-caption h3 {
  text-shadow: 1px 1px 10px #000;
  font-size: 200%;
}
 
 
.jumbotron {
  padding: 2rem;
  border-radius: 0;
}

 footer{
   background-color: #3f3f3f;
   color: #d5d5d5;
   padding-top: 2rem;
 }
 
 .footer-bottom {
   background-color: black;
   font-size: 80%;
   color: #b4b4b4;
   border-top: 1px solid #f3f3f3;
   padding-top: 10px;
 }
 
 hr.light{
   border-top: 1px solid #d5d5d5;
 }
 
 .course img {
   width: 100%;
   height: 100%;
   padding-bottom: 30px;
 }

 .menu_text {
  color:red;
 }

 .menu h3 {
  font-size: x-large;
 }

 .description {
  font-size: medium;
 }

 .intro {
  margin-top: 30px;
 }
 
 iframe{
  margin-left: 15px;

 }

 .fixed-wrap{
   background: url(../images/fixed_scroll_image.jpg);
   opacity: 0.7;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #cccccc;
   height: 300px;
 }
 
 .card {
   margin: 20px auto;
   color: #808080;
   background-color: white;
   box-shadow: 1px 2px lightgrey;
   border-radius: 0;
   width: 24rem;
 }

 .bevarages {
  padding-left: 10vw;
 }

 .menu_title {
     position: relative; 
     height: 40vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .menu_title h1 {
  position: relative;
  opacity: 1 !important;
  text-shadow: 1px 1px whitesmoke;

 }


 .menu_title::before {
  content: "";
  /*https://pixnio.com/media/nightclub-glass-bartender-white-wine-restaurant */
  background-image: url(../images/bevarages_image.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
 }

 .menu_body {
  margin: 0 10%;
  padding: 30px 0;
  background-color: burlywood;

 }
 
 .menu_body hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.menu_body hr:after {
  background: burlywood;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -23px;
}


 .history {
  padding: 20px;
 }

 .privacy_statement {
  padding: 10%;
  background-color:#ddd;
 }

 

 @media (max-width: 992px){
    

    .call-to-action {
        background-color:  #035096;
        padding: 8px 20px  !important;
        margin-left: 0px;
        width: 80px;
        border-radius: 3px;
        color: white !important;
    }

   
    .carousel-caption {
     position: absolute;
     top: 40%;
 
   }
 
   .carousel-caption h1 {
     text-shadow: 1px 1px 15px #000;
     font-size: 300%;
   }
 
   .carousel-caption h3 {
     text-shadow: 1px 1px 10px #000;
     font-size: 150%;
   }
 
   .carousel-caption .btn {
     font-size: 100%;
     padding: 10px 20px;
   }
   .navbar-nav li {
     padding: 0;
   }
 
   .card {
     margin: 20px auto;
     color: #808080;
     background-color: white;
     box-shadow: 1px 2px lightgrey;
     border-radius: 0;
     font-size: 80%;
     width: 12rem;
   }
 }

ul {list-style-type: none;}


/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
 
 @media (max-width: 768px){

   .carousel-caption {
     position: absolute;
     top: 40%;
   }
   .carousel-caption h1 {
     text-shadow: 1px 1px 15px #000;
     font-size: 300%;
   }
 
   .carousel-caption h3 {
     text-shadow: 1px 1px 10px #000;
     font-size: 150%;
   }
 
   .carousel-caption .btn {
     font-size: 80%;
     padding: 8px 16px;
   }
 
   .card {
     margin: 20px auto;
     color: #808080;
     background-color: white;
     box-shadow: 1px 2px lightgrey;
     border-radius: 0;
     width: 25rem;
   }
 }
 
 @media (max-width: 576px){
    .carousel-caption {
        position: absolute;
        top: 40%;
   }
    .carousel-caption h1 {
        text-shadow: 1px 1px 15px #000;
        font-size: 200%;
   }
 
   .carousel-caption h3 {
        text-shadow: 1px 1px 10px #000;
        font-size: 75%;
   }
 
   .carousel-caption .btn {
        font-size: 70%;
        padding: 6px 12px;
   }
 
   .card {
        margin: 20px auto;
        color: #808080;
        background-color: white;
         box-shadow: 1px 3px lightgrey;
         border-radius: 0;
        width: 22rem;
   }
 }   


 